
 body {
	margin:0 auto;
	padding:0;
	font-family: "Roboto, Arial, Tahoma, Helvetica, Verdana", sans-serif;    
	font-size: 12px;
	font-weight: bold;
	line-height: 1.6em;	 
	text-align:center; 
	width: 94%;
	background-color: #555555;
	color: #c2c2c2;
  }


.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
}

.wrapper > * {
	padding: 10px;
	flex: 1 100%;
}
  
.nav1 {
	padding: 0;
	list-style: none;
	margin: 0;
	background: #708adf;	
	display: flex;
	flex-flow: column wrap;
}
  
.nav1 a {
	text-align: center;
	padding: 12px;
	border-top: 1px solid #97b1d852;
	border-bottom: 1px solid #0b31551a;
	text-decoration: none;
	display: block;
	color:#d3d3d3;
}
  
.nav1 a:hover {
	background: #3255c9;
	color:white;
}
  
.nav1 li:last-of-type a {
	border-bottom: none;
}

header.header {
	padding-right:0;
	padding-left: 0;
	padding-bottom: 0;
}
  
.header{
	background: #3b5bc7;
	
}


.main {
	text-align: left;
	color:#c9c9c9;
	font-size: 0.8rem;
	background: #4160c4;
}

.main p {
	  padding:10px;
}
aside {
	background: #4160c4;
	text-align: left;
	font-size: 0.8rem;
	padding: 5px;
}

.form-dropdown{
	-webkit-appearance: listbox !important;
}

form{
	
	justify-content: center;
	align-content: center;
	align-items: center;
}

input, textarea, select, button {
	width : 94%;
	padding: 2px;
	margin: 0;
	box-sizing: border-box;
	font-size: 0.8rem;
}

input, textarea {
	
	border  : none;
	padding : 4px;
	margin  : 0;
	background : #708adf;
}

label {
	color: #c2c2c2;
	font-size: 0.8rem;	
}

h1{
	color: white;
	font-size:1.2rem;
}

h2{
	color: white;
	font-size:0.8rem;
}


hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
  
hr.style2 {
	  height: 10px;
	  border: 0;
	  background-image: linear-gradient(to right, #d5d5d5, #bababa, #d5d5d5);
}


  
table {
	border-collapse: collapse; 
	margin:0 auto;
	width:96%;
	font-size: 0.8rem;
}	
  
th {
	background-color: #3255c9;
	color: white;
	padding: 2px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
  
td {
	padding: 1px 4px 1px 4px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	
}
  
tr {
	color: black;
	background-color: #d6d6d6;
	padding: 2px;
	text-align: left;
}
  
tbody tr:nth-child(even) {
	background-color: #e1e1e1;
}
	  
table tr:hover {
	color:black;
	background-color: rgb(220, 245, 174);
	  
}

.footer {
	background: #3b5bc7;

	font-size: 0.8rem;
	color:#a9a9a9;
}

  


@media all and (min-width: 800px) {

	body{
		font-size: 14px;
	}
	.nav1 {
		justify-content: flex-end;	
		flex-flow: row;
	}

	.main {
	  	flex: 2 0px;
	  	order: 2;
		  flex-direction: column;
		  
	}
	.aside1 {
	  	order: 1;
	  	flex: 1 0px;
	  	text-align: left;
	}
	
	.aside2 {
	  	order: 3;
	  	flex: 2 0px;  
	}

	.footer {
	  	order: 3;
	}
	
  }
  