
 body {
	margin:0 auto;
	padding:0;
	font-family: "Roboto, Arial, Tahoma, Helvetica, Verdana", sans-serif;    
	font-size: 14px;
	font-weight: normal;
	line-height: 1.6em;	 
	text-align:center; /* with this all elements get centered */
	width: 94%;
	background-color: #555555;
	color: #c2c2c2;
  }
  /* navigation */
  .navigation {
	padding: 0;
	list-style: none;
	margin: 0;
	background: #708adf;
	
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
  }
  .navigation a {
	text-align: center;
	padding: 10px;
	border-top: 1px solid #4284e752;
	border-bottom: 1px solid #0b31551a;
	text-decoration: none;
	display: block;
	color:#d3d3d3;
  }
  .navigation a:hover {
	background: #556dbd;
	color:white;
  }
  .navigation li:last-of-type a {
	border-bottom: none;
  }

  /* main layout */
  .wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
  }
  .wrapper > * {
	padding: 10px;
	flex: 1 100%;
  }
  header.header {
	padding-right:0;
	padding-left: 0;
	padding-bottom: 0;
	background-color: #3255c9;
  }
  .header, .main {
	background: #4160c4;
  }
  .footer {
	background: #3255c9;
	font-size: 0.8rem;
	color:#b8b8b8;
  }
  .main {
	text-align: left;
	color:#c9c9c9;
	font-size: 0.8rem;
  }
  .main p {
	  padding:10px;
  }
  aside {
	background: #4160c4;
	text-align: left;
	font-size: 0.8rem;
  }

  .form-dropdown{
	-webkit-appearance: listbox !important;
}

form{
	
	justify-content: center;
	align-content: center;
	align-items: center;
}
input, textarea, select, button {
	width : 94%;
	padding: 2px;
	margin: 0;
	box-sizing: border-box;
	font-size: 0.8rem;
	

  }

  input, textarea {
	
	border  : none;
	padding : 4px;
	margin  : 0;

	background : #708adf;
  }
  label {
	color: #c2c2c2;
	font-size: 0.8rem;
	
  }

h1{
	color: white;

}
h2{
	color: white;
	font-size:0.8rem;
}


hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  
  hr.style2 {
	  height: 10px;
	  border: 0;
	  background-image: linear-gradient(to right, #d5d5d5, #bababa, #d5d5d5);
  }


  
table {
	border-collapse: collapse; 
	margin:0 auto; /* centering */
	width:96%;
	font-size: 0.8rem;
}	
  
th {
	background-color: #3255c9;
	color: white;
	padding: 2px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
  
td {
	padding: 1px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	
}
  
tr {
	color: black;
	background-color: #d6d6d6;
	padding: 2px;
	text-align: left;
}
  
tbody tr:nth-child(even) {
	background-color: #e1e1e1;
}
	  
table tr:hover {
	color:black;
	background-color: rgb(220, 245, 174);
	  
}


  /* medium sized screens */
  @media all and (min-width: 600px) {
	.navigation {
	  flex-flow: row wrap;
	}
	.navigation a {
	  padding: 1em;
	}
	.aside {
	  flex: 1 auto;
	}
  }

  /* large sized screens */
  @media all and (min-width: 800px) {
	.navigation {
	  justify-content: flex-end;
	}

	.main {
	  flex: 2 0px;
	  order: 2;
	  flex-direction: column;
	}
	.aside1 {
	  order: 1;
	  flex: 1 0px;
	  text-align: left;
	}
	
	.aside2 {
	  order: 3;
	  flex: 2 0px;
	  
	}
	.footer {
	  order: 3;
	}

	
  }
  