
body {
	margin:0 auto;
	padding:0;
	font-family: "Roboto, Arial, Tahoma, Helvetica, Verdana", sans-serif;    
	font-size: 14px;
	font-weight: bold;
	line-height: 1.6em;	 
	background-color: #555555;
	color: #c2c2c2;
	width:98%;
}

.wrapper {
	
	display: flex;
	
	flex-direction: column;
	background-color:#3B5BC7;
	
	
}

.header{
	
	align-self: center; /* only this works to center header and nav1. */
	width:100%; /* when you give this above does not work */
	text-align: center; /* then, this is required */
	background-color: #3b5bc7;
}

h1{
	color: white;
	font-size:1.2rem;
}

h2{
	color: white;
	font-size:0.8rem;
}


.nav1{
	
	flex-direction: row;
	width:100%;
	margin:0 auto;
	padding:0px;
	
	background: #708adf;
}

li{
	list-style: none;
}

.nav1 a {
	text-align: center;
	padding: 10px;
	border-top: 1px solid #bcd0ee52;
	border-bottom: 1px solid #30373d1a ;
	text-decoration: none;
	display: block;
	color:#d3d3d3;
	background: #708adf;
}

.nav1 a:hover {
	background: #3255c9;
	color:white;
}

.aside1{
	
	align-self: center; /* this works */
	background-color: #3b5bc7;
	margin:0px;
	margin-top: 20px;
	margin-bottom: 10px;

}



form{

	display: flex;
	justify-content: center; /* this doeos the trick */
	/*max-width: 150px;*/
	background-color: #3b5bc7;
}

fieldset{
	border: 1px solid #3A5Bc1;
	border-radius: 6px;
	box-shadow: 3px 3px 3px  rgb(33, 52, 138)	;
	background-color: #5275d3;
	margin: 0px;	
}

fieldset, fieldset div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; /* without this they lay inline */
	/* align-content: center; with this each item is centered */
	
	font-size: 0.8rem;
	flex: 1 1 auto;
	max-width: 180px;
	padding: 8px 12px 8px 12px;	
}

input{

	padding: 2px;
	width:96%;
	background-color : #a0a8ca;
	border:none;
} 

button{
	background-color : #798cce;
	padding: 2px;
	width:96%;
	color:black;
}

button:hover {
	background: #3457ca;
	color: white;	
	cursor: pointer;
}

.aside2{

	text-align: center;
	background-color: #3b5bc7;

}

.aside2 a {
	text-align: center;
	padding: 10px;
	
	text-decoration: none;
	display: block;
	color: white;
}
	
.aside2 a:hover {
		background: none;
		color:black;
}
	
	
.main{

	text-align: left;
	padding: 5px 10px 5px 10px;
	background-color: #3b5bc7;
	font-size: 0.8rem;
}

.main p {
	padding:10px 10px 5px 20px;
	
}
.footer{
	
	text-align: center;
	padding:3px 0px 3px 0px ; 
	font-size: 0.8rem;
	background-color: #2f53c9;
	color:#b6b6b6;
}


table {
	border-collapse: collapse; 
	margin:0 auto;
	width:96%;
	font-size: 0.8rem;
	
}	
  
th {
	background-color: #3b56ad;
	color: white;
	padding: 2px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
  
td {
	padding: 1px 4px 1px 4px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	
}
  
tr {
	color: black;
	background-color: #d6d6d6;
	padding: 2px;
	text-align: left;
}
  
tbody tr:nth-child(even) {
	background-color: #e1e1e1;
}
	  
table tr:hover {
	color:black;
	background-color: rgb(220, 245, 174);
	  
}

img{
	margin:0 auto;
	padding:0px;
	vertical-align: middle;
	text-align:center;
}

a {
	text-align: center;
	padding: 0px 3px 0px 3px;
	text-decoration: none;
	color: gray;
}

a:hover {
	background: #67C8FF;
	color:white;
}

@media all and (min-width: 960px) {

	body{
		font-size: 14px;
	}
	.wrapper{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		text-align: center;
		
	}

	.nav1{
		
		margin:0px;
		padding:0px;
		border-top: 1px solid #bcd0ee52;
		border-bottom: 1px solid #30373d1a ;
	
	}
	.nav1 a{
		padding: 9px 9px 9px 9px;
		border:none;

	}

	.nav1 li:last-of-type a {
		border-bottom: none;
	}
	 
	.main {
	  	flex: 2 0px;
	  	order: 2;
		min-width: 35%;
		  background-color: none;
		  
	}
	.aside1 {
	  	order: 1;
	  	flex: 1 0px;
		align-self: auto;
		  
	}

	ul{
		display: flex;
		justify-content: flex-end;
	}
	
	.aside2 {
	  	order: 3;
		  flex: 2 0px;  
		  min-width: 35%;
	}

	.footer {
		order: 4;
		justify-self: center;
		min-width: 100%;
	}

	fieldset div{
		text-align: left;
	}
	
  }
  