/* Mobile first */
body {
	margin:0 auto;
	padding:0;
	font-family: "Roboto, Arial, Tahoma, Helvetica, Verdana", sans-serif;    
	font-size: 14px;
	font-weight: normal;
	line-height: 1.6em;	 
	letter-spacing: 0.0625em;
	text-align:center; 
	width: 94%;
	background-color: #555555;
	color: black;
	
}

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
}
  
.wrapper > * {
	padding: 0px;
	flex: 1 100%;	
}

header {
	padding: 0px;
	margin:0  auto;
	/* background-image: linear-gradient(#2e83c4, #73738d ); */
	background-color: #2e83c4;
	min-width: 80px;

}

h1{
	color: white;
	font-size:1.5em;
	padding: 20px;
	margin: 0px;
	text-shadow: -1px -1px 1px #fcfdfd, 1px 1px 1px #0d0d0e;
	opacity: 0.8;
	
}


.nav1 {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0.875em;

	
}

.nav1 a {
	text-align: center;
	padding: 10px;
	border-top: 1px solid #ffffff4d;
	border-bottom: 1px solid #0000001a;
	text-decoration: none;
	display: block;
	color: white;
	background-color: #4e92c7;
}

.nav1 a:hover {
	text-decoration: none;
	color: black;
	background-color: #2e83c4;
}
  



h2 {
	font-size: 1.0em;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	color:#0e63a3;
}

h4 {
	font-size: 9px;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	color:#0e63a3;
}
 
hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  
  hr.style2 {
	  height: 10px;
	  border: 0;
	  background-image: linear-gradient(to right, #c7c7c7, #979696, #c7c7c7);
	  opacity: 0.5;
  }


.aside1{
	
	align-self: center; /* this works */
	color: #333333;
	background-color: #f1f1f1;
	margin:0px;
	font-size: 0.875em;

}

form{

	display: flex;
	justify-content: center; /* this doeos the trick */
	/*max-width: 150px;*/

}

form label{
	text-align: left;
	font-size: 0.875em;
}

fieldset{
	border: 1px solid #46a0ca;;
	border-radius: 6px;
	box-shadow: 3px 3px 3px  #6598bb	;
	background-color: #86b3d1;
	margin: 0px;
	margin-top: 10px;
}

fieldset, fieldset div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; /* without this they lay inline */
	/* align-content: center; with this each item is centered */
	flex: 1 1 auto;
	max-width: 180px;
	padding: 8px 12px 8px 12px;	
}

input{

	padding: 2px;
	width:96%;
	background-color : #e4e4e4;
	border:none;
} 

button{
	background-color : #2e83c4;;
	padding: 2px;
	width:96%;
	color:white;
}

button:hover {
	background: #86b3d1;;
	color: black;	
	cursor: pointer;
}

.aside2{

	text-align: left;
	color: #333333;
	background-color: #f1f1f1;
	font-size: 0.875em;
	align-items: center;
	padding: 5px 10px 5px 10px;
}

.aside2 a {
	text-align: left;
	padding: 10px;
	text-decoration: none;
	display: block;
	color: blue;
}
	
.aside2 a:hover {
		background: none;
		color:black;
}
	
	
.main{

	text-align: left;
	padding: 5px 10px 5px 10px;
	color: #eeeeee;
	background-color: #f1f1f1;
	font-size: 0.875em;
	
	
}

.main p {
	padding:10px 10px 5px 20px;
	color: #333333;
	font-size: 0.875em;
}

.aside2 p {
	padding:10px 10px 5px 20px;
	color: #333333;
	font-size: 0.875em;
	text-align: justify;
}

.leftp{

	padding: 5px;
	color: #555555;
	font-size: 0.875em;
	text-align: justify;

}


.footer {
	background-color: #2e83c4;
	font-size: 0.75em;
	color: #d4d4d4;
	padding:6px;

}
  


table.myt {
	border-collapse: collapse; 
	margin:0 auto;
	width:96%;
	font-size: 0.875em;
	
}	
  
table.myt thead th {
	background-color: #3796c2;
	color: white;
	padding-left: 4px;
	text-align: left;
	height: 30px;
}
  
table.myt tbody td {
	padding: 1px 4px 1px 4px;
	text-align: left;
	border-bottom: 1px solid #eee;

}
  
table.myt tbody tr {
	color: black;
	background-color: #e8e8e8;
	padding: 2px;
	text-align: left;
}

table.myt tbody tr:nth-child(even) {
	background-color: #e4e4e4;
}
  
table.myt tbody tr:hover {
	color:black;
	background-color: rgb(220, 245, 174);
	  
}


	  

#chart {

	color:black;
	background-color: #edf0f1;
	border: 10px solid #3398c7;;
	box-shadow: 1px 1px  #07648f;;
	table-layout: fixed;
	text-align: center;
	width:320px;
	height: 340px;
	margin: 0 auto;

}

#chart thead td{
		
	padding: 0.5rem;
	color:#f2f0f5;
	background-color: #3796c2;	;
	font-size: 14px;
	height: 24px;
	width: 25%;

}


#chart  td {
	font-size: 9px;
	border: 1px solid #c8c8c8;
	padding: 0.5rem;
	color:black;
	height:25%;
	width: 25%;
	
}


img{
	margin:0 auto;
	padding:0px;
	vertical-align: middle;
	text-align:center;
}

img :hover{
	background: none;
}




@media  all and (min-width: 860px ) and (orientation:landscape) {

	body{
		font-size: 16px;
	}

	
	header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin:0;
		padding: 0px;
		min-height: 80px;
	}
	
	
	h1{
		padding-left: 20px;
	}	

	.nav1 a {
		
		margin: 0px;
		padding:0px;
		padding-right: 12px;
		background-color: transparent;
		border: none;	
	}

	.nav1 a:hover{
		text-decoration: underline;
	}
	
	.nav1 li{
		
		display:inline-flex;	
		border: none;
		background-color: none;
	}


	.main {
	  	flex: 2 0px;
	  	order: 2;
		min-width: 35%;
		background-color: none;
		  
	}
	.aside1 {
	  	order: 1;
	  	flex: 1 0px;
		align-self: auto;
		  
	}

	ul{
		display: flex;
		justify-content: flex-end;
	}
	
	.aside2 {
	  	order: 3;
		  flex: 2 0px;  
		  min-width: 35%;
	}

	.footer {
		order: 4;
		justify-self: center;

	}

	fieldset div{
		text-align: left;
	}
	
	
    
  }
  