html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }
  
  body {
	margin: 10px;
  }
  
  .wrapper {
	margin: 0 0 20px 0;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(5, 18%);
	grid-template-rows: repeat(3,400px);
	align-content: space-around;
	justify-content: space-between;
  }
  
  
  
  .box {
	background-color: #fafafa;
	color: #000;
	border-radius: 3px;
	padding: 5px;
	font-size: 100%;
  }
  
  .item1 {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
  }
  
  .item2 {
	grid-column: 2 / 6;
	grid-row: 1 / 4;
	text-align: left;
  }
  
  
  
  
  
 
h2 {
  	font-size: 0.7rem;
  	margin: 0 0 0.75rem 0;
  	color:#1B83B7;
}
h1 {
	font-size: 1.0rem;
  	margin: 0 0 0.75rem 0;
  	color:#1B83B7;
  }
h3 {
	font-size: 0.8rem;
	margin: 10 0 0.75rem 10;
	color:#EE2C2C;
	
}



hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.form-dropdown{
	-webkit-appearance: listbox !important;
}
form.myform {
	margin: 0px auto;
	font-size: 0.8rem;
	border: 1px solid #c6c7cc;
	border-radius: 5px;
	background-color: #f4f4f4; 
	padding: 10px;
	width: 80%;
	text-align: center;
	margin-top:20px;
}

fieldset{
	margin: 0px auto;
	font-size: 0.8rem;
	border: 1px solid #c6c7cc;
	border-radius: 5px;
	background-color: #f4f4f4; 
	padding: 10px;
	width: 80%;
	text-align: center;
}
fieldset#fsg{
	background-color: #FAEBEB; 
}
fieldset#fsb{
	background-color: #EEF3F6; 
}


select{

	background-color: #6CA6CD;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #A4D3EE	;
	text-shadow:none;
	
	height: 26px;
	padding: 2px;	
	font-weight: bold;

}



input[type="button"]{

	background: #6CA6CD;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #A4D3EE	;
	text-shadow:none;
	width: 100px;
	height: 26px;

}

input[type="button"]:hover {

	background: #67C8FF;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #A4D3EE	;
	font-weight: bold;
	text-shadow:none;
	cursor: pointer;

}

select#girlstar{
	
	background-color: #9E0508; 
	width: 80%;
}
select#boystar{
	
	background-color: #5B59BA; 
	width: 80%;
	
}
select#girlpaadam{
	
	background-color: #9E0508; 
	
	
}
select#boypaadam{
	
	background-color: #5B59BA; 
	

}
input#girldeg{
	
	background-color: #9E0508; 
	width: 40%;
	color: #fff;
	font-weight: bold;
}
input#boydeg{
	
	background-color: #5B59BA; 
	width: 40%;
	color: #fff;	
	font-weight: bold;
}

img {
	text-align: center;
	
}
ul {
    list-style-type: none;	
	/*background: #A4D3EE	;	*/
	font-size: 0.9rem;
	letter-spacing: 1.4px;
	text-align: left;
	padding: 10px;
	overflow: hidden;
}

table {
  border-collapse: collapse; 
  margin-left: 10px;
  width:600px;
  font-size: 0.8rem;
}


  
th {
  background-color: #6CA6CD;
  color: white;
  padding: 2px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 1px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr {
	color: black;
}

tbody tr:nth-child(even) {
	background: #eee;
}
	
table tr:hover {
	color:#39FC16;
	background-color: black;
	
}


#starnum:hover {
    border-color: #888;
}
#starnum:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
#starnum option {
    font-weight:normal;
}


.minahaa {
	font-size: 0.8rem;
	margin: 0 0 0.75rem 0;
	color:#0000F7;
	font-weight: bold;
}

.link {
	color: #1D88EA; 
	font-size: 0.7rem;
} 
.link:hover {
	color: #104E8B; 
	font-size: 0.7rem;
} 