/* Mobile First */
body{
	color:black;
	background-color:white; 
	margin:0 auto;
	padding:0;
	font-family: "Arial, Tahoma, Helvetica, Verdana, sans-serif";    
	font-size: 12px;
	font-weight: noraml;
	line-height: 1.2em;	 
	text-align:center; /* with this all elements get centered */
	width: 95%;
}
.clear 
    { 
    clear:both; 
} 
@media  (min-width: 768px )  {
	/* This part is only read by viewports wider than 1200 pixels */
	body{ 
		font-size: 14px;
		line-height: 1.2em;	 
		width: 100%;
		margin:0 auto;
		padding:0;
	}
	#navbar ul, li{
		display: flex;
	}
	
	.container{
		display:flex;
		overflow:hidden;
		justify-content: space-between;
	}
	.pattika, .vivarana{
		flex:1;
	}
}


}


.container{
	
	display:block;
	
}
.pattika{
  margin:0 auto;  
  text-align: center;
  justify-content: center;
  align-content: center;
  background-color:gainsboro;
  color: black;
  font-size: 14px;
  line-height: 1.2rem;
  padding: 5px;
}
.vivarana{
  margin:0 auto;  
  text-align: left;
  justify-content: center;
  align-content: center;
  background-color:gainsboro;
  color: black;
  font-size: 14px;
  padding: 5px;
  line-height: 1.2rem;
}
#myheader{
	color:black;
	background-image: linear-gradient( rgb(131, 151, 161), rgb(117, 205, 235));
	margin:0 auto;
	padding: 8px;
	line-height: 1.2rem;
	font-size: 1.1rem;
}
#myfooter{
	color:white;
	background-image: linear-gradient( rgb(117, 205, 235), rgb(131, 151, 161));
	margin:0 auto;
	padding: 4px;
	line-height: 1.2rem;
}

#showcase{
	min-height:80px;
	background-image: linear-gradient(to right, rgb(212, 133, 58) , rgb(124, 204, 241));
	display: block;
	margin: 0;
	padding: 5px;
	color: dimgray;
}

h1 {
	font-size: 1rem;
	margin: 0;
	padding: 5px;
	color:#14181a;
}


h2 {
	font-size: 1rem;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	color:#2283a0;
}

h3 {
	font-size: 1rem;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	color:#2283a0;
  
}

.minahaa {
	font-size: 0.9rem;
	margin: 0 0 0.75rem 0;
	color:rgb(26, 138, 69);
	font-weight: bold;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.form-dropdown{
	-webkit-appearance: listbox !important;
}
form.myform {
	margin: 0px auto;
	font-size: 0.8rem;	
	padding: 5px;
	padding-top: 10px;
	width: 90%;
	text-align: center;
}
select{

	background-color: #6CA6CD;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #A4D3EE	;
	text-shadow:none;
	
	height: 26px;
	padding: 2px;	
	font-weight: bold;

}
select#girlstar{	
	background-color: #9E0508; 

}
select#boystar{	
	background-color: #5B59BA; 
}
select#girlpaadam{	
	background-color: #9E0508; 
	
}
select#boypaadam{
	background-color: #5B59BA; 
	text-align:right;
}
#fg{
	background-color:transparent; 
	color:#9E0508;
	text-align:left;
	justify-content:left;
	font-weight: "strong";
	display: inline-block;
	padding:10px;	
}
#fb{
	background-color:transparent; 
	color:#5B59BA;
	text-align:right;	
	justify-content:right;
	font-weight: "strong";
	display: inline-block;
	padding:10px;	
}

#navbar{
	background-color: lightskyblue;
	color:#fcf9f9;
	margin:0 auto;
	padding-top:4px;
}

#navbar ul{
	
	list-style:none;
	margin:0;
	padding:0;
}
#navbar li{
	display: inline;
}
#navbar a{
	text-decoration: none;
	font-size: 12px;
	color: black;
	padding-right: 15px;

}

#navbar a:hover{
	background: #67C8FF;
	color: #fff;
	font-weight: bold;
	text-shadow:none;
	cursor: pointer;
	text-decoration: none;
}
input[type="button"]{
	background-color: lightskyblue;
	color: black;
	font-size: 12px;
	margin:0;
	padding: 0 15px 0 5px;
	border:none;
	display: inline;

}
input[type="button"]:hover {
	background: #67C8FF;
	color: #fff;	
	font-weight: bold;
	cursor: pointer;
}

table {
	border-collapse: collapse; 
	margin:0 auto; /* centering */
	width:96%;
	font-size: 0.8rem;
  }
  
	
  th {
	background-color: #6CA6CD;
	color: white;
	padding: 2px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  
  td {
	padding: 1px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	
  }
  
  tr {
	  color: black;
	  background-color: white;
	  padding: 2px;
	  text-align: left;
  }
  
  tbody tr:nth-child(even) {
	  background-color: #eee;
  }
	  
  table tr:hover {
	  color:black;
	  background-color: rgb(220, 245, 174);
	  
  }

  img{
	  margin:0 auto;
	  padding:0;
	  padding-left: 5px;
	  vertical-align: middle;
  }
 img :hover{
	background: none;
 }
