
 body {
  padding: 2em;
}
/* navigation */
.navigation {
  padding: 0;
  list-style: none;
  margin: 0;
  background: #25a400;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.navigation a {
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: block;
  color: white;
}
.navigation a:hover {
  background: #87d76f;
}
.navigation li:last-of-type a {
  border-bottom: none;
}

/* main layout */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
header.header {
  padding-right:0;
  padding-left: 0;
  padding-bottom: 0;
}
.header, .main {
  background: #ffffba;
}
.footer {
  background: #25a400;
}
.main {
  text-align: left;
}
aside {
  background: gold;
}

/* medium sized screens */
@media all and (min-width: 600px) {
  .navigation {
    flex-flow: row wrap;
  }
  .navigation a {
    padding: 1em;
  }
  .aside {
    flex: 1 auto;
  }
}

/* large sized screens */
@media all and (min-width: 800px) {
  .navigation {
    justify-content: flex-end;
  }
  .main {
    flex: 3 0px;
  }
  .aside1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}
