
body {
	margin:0 auto;
	padding:0;
	font-family: "Roboto, Arial, Tahoma, Helvetica, Verdana", sans-serif;    
	font-size: 12px;
	font-weight: bold;
	line-height: 1.6em;	 
	text-align:center; 
	width: 94%;
	background-color: #555555;
	color: white;
}

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
}
  
.wrapper > * {
	padding: 10px;
	flex: 1 100%;	
}
 
.nav1 {
	padding: 0;
	margin: 0;
	background: #7960b6;
	list-style: none;
	display:flex;
	flex-flow: column wrap;
	align-content: stretch;
}

.nav1 a {
	text-align: center;
	padding: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-decoration: none;
	display: block;
	color: #c0b0ca;
}

.nav1 a:hover {
	background: #5533ac;
	color: white;
}
  
.nav1 li:last-of-type a {
	border-bottom: none;
}
 
  
header.header {
	padding-right:0;
	padding-left: 0;
	padding-bottom: 0;
}

.header {
	background: #583aa7;	
}

.main {
	text-align: justify;
	color: #b5b5b5;
	background: #5E42A6;
}

  article p {
	padding: 1em 1em 1em 1em;
	text-indent: 2em;	
}

article li{
	
	margin-left: 0px;
	margin-right:2em;
}

.footer {
	background: #583aa7;
	font-size: 0.7rem;
	color: #929292;
	padding:5px;
}
  
  
@media all and (min-width: 760px) {
	
	body{
		font-size: 14px;
	}

	.nav1 {
		justify-content: flex-end;	
		flex-flow: row;
	}

	.nav1 li{
		margin: 0;
		padding:0;	
	}

	.wrapper{
		display: flex;	
	}
	
	article p {
		padding: 1em 4em 1em 4em;
		text-indent: 5em;	
	}

	article li {
		margin-left: 8em;	
	}
	
}
  