/* Mobile First */
body{
	color:#333333;
	background-color:#504646; 
	margin:0 auto;
	padding:0;
	font-family: "Roboto, Arial, Tahoma, Helvetica, Verdana", sans-serif;    
	font-size: 14px;
	font-weight: normal;
	line-height: 1.6em;	 
	text-align:center; /* with this all elements get centered */
	width: 94%;
}

.container{	
	
	margin: 0 ;
	padding:0;
	display: -webkit-flex; /* Safari */	
	display: flex;	
	flex-direction: column;	
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	text-align: center;	
	width: 100%;
	
}

.rightcol{
	text-align: center;
	margin:0;
	padding:0;
	padding: 5px;	
	background-color: #b653e4;
	border: 3px solid #c592f5;
	border-radius: 0px 0px 6px 6px;
	margin-top: 50px;
}


.navbar1 {
	padding: 0;
	margin: 0;
	margin-top: 50px;
	list-style: none;
	display: flex;
	flex-flow: column ;
	font-size: 0.8rem;
}

.navbar1 a {
	text-align: center;

	padding: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-decoration: none;
	display: block;

	color: #24211a;
}

.navbar1 a:hover {
	background: rgb(131, 103, 163);
	color:white;
}

ul{
	list-style: none;
	text-align: center;
	margin: 0 auto;
	padding:0;
	width: 100%;
}
li {
	border: none;
	list-style-type: none;
	display:block;
	text-align: center;
	margin: 0 auto;
	padding:0;
}




h1 {
	font-size: 1.2rem;
	font-weight: bold;
	margin:0;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 4px;
	color:#e3e3e9;
	vertical-align: top;
}

h2 {
	font-size: 0.7rem;
	margin: 0;
	margin-top: 200px;
	padding: 2px;
	color:#a1a5a7;
	vertical-align: bottom;
}


@media  all and (min-width: 768px ) and (orientation:landscape) {
	/* This part is only read by viewports wider than 768 pixels */
	body{ 
		font-size: 16px;
		line-height: 1.6rem;	 
		width: 100%;
		margin:0 auto;
		padding:0;
	}
	
	.container{	
		display: flex;
	}

	

	.rightcol{
		flex: 1 0 0;
	}

	

	.navbar1 {
		flex-flow: row ;
		justify-content: center;
	}	
	
}

