
body {
	margin:0 auto;
	padding:0;
	font-family: "Roboto, Arial, Tahoma, Helvetica, Verdana", sans-serif;    
	font-size: 12px;
	font-weight: normal;
	line-height: 1.6em;	 
	text-align:center; 
	width: 94%;
	background-color: #555555;
	color: white;
	letter-spacing: 0.1rem;
}

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
}
  
.wrapper > * {
	padding: 10px;
	flex: 1 100%;	
}
 
.nav1 {
	padding: 0;
	margin: 0;
	background: #7960b6;
	list-style: none;
	display:flex;
	flex-flow: column wrap;
	align-content: stretch;
}

.nav1 a {
	text-align: center;
	padding: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-decoration: none;
	display: block;
	color: #d7d7d7;
}

.nav1 a:hover {
	background: #5533ac;
	color: white;
}

.nav1 li:last-of-type  {
	border-bottom: none;
	background: #5533ac;

}

  
.nav1 li:last-of-type a {
	border-bottom: none;
	background: #5533ac;

}

.nav1 li:last-of-type a:hover {
	border-bottom: none;
	background: #5533ac;
	color: #a1a1a1;

}
  
header.header {
	padding-right:0;
	padding-left: 0;
	padding-bottom: 0;
}

.header {
	background: #583aa7;	
}

h1{
	color: white;
	font-size:1.6rem;
}

h3{
	color: #c9c6dd;
	font-size:0.6rem;
	letter-spacing: 0.1rem;
}


.left, .right {
	text-align: justify;
	color: #c2c2c2;
	background: #5E42A6;
	
	padding: 4px 20px 10px 20px;
	text-indent: 8rem;
	font-size: 0.8rem;
	
}

p{
	text-indent: 3em;

}



.footer {
	background: #583aa7;
	font-size: 0.7rem;
	color: #a2a2a2;
	padding:5px;
}
  
img{
	margin:0 auto;
	padding:0px;
	text-align:center;
	max-width: 100%;
	  height: auto;
	  display: block;
}

img :hover{
	background: none;
}
 

@media  all and (min-width: 768px ) and (orientation:landscape) {
	
	body{
		font-size: 14px;
	}

	.nav1 {
		justify-content: flex-end;	
		flex-flow: row;
	}

	.nav1 li{
		margin: 0;
		padding:0;	
	}

	.wrapper{
		display: flex;
		
	}

	.left, .right {
		text-align: justify;
		color: #c2c2c2;
		background: #5E42A6;
		
		padding: 5px 20px 5px 20px;
		text-indent: 8rem;
		font-size: 0.8rem;
		flex-direction: row;
		flex-wrap:wrap;
		flex: 2 ;	
	}
	
	li{
	
		margin-left: 0px;
		margin-right:2em;
	}
	
}
  