/* Mobile first */
body {
	margin:0 auto;
	padding:0;
	font-family: "Roboto, Arial, Tahoma, Helvetica, Verdana", sans-serif;    
	font-size: 14px;
	font-weight: normal;
	line-height: 1.6em;	 
	letter-spacing: 0.0625em;
	text-align:center; 
	width: 94%;
	background-color: #555555;
	color: black;
	
}

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
}
  
.wrapper > * {
	padding: 0px;
	flex: 1 100%;	
}

header {
	padding: 0px;
	margin:0  auto;
	/* background-image: linear-gradient(#2e83c4, #73738d ); */
	background-color: #2e83c4;
	min-width: 80px;

}

h1{
	color: white;
	font-size:1.5em;
	padding: 20px;
	margin: 0px;
	text-shadow: -1px -1px 1px #fcfdfd, 1px 1px 1px #0d0d0e;
	opacity: 0.8;
	
}


.nav1 {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0.875em;

	
}

.nav1 a {
	text-align: center;
	padding: 10px;
	border-top: 1px solid #ffffff4d;
	border-bottom: 1px solid #0000001a;
	text-decoration: none;
	display: block;
	color: #e4e4e4;
	background-color: #4e92c7;
}

.nav1 a:hover {
	text-decoration: none;
	color: black;
	background-color: #2e83c4;
}
  


  
.nav1 li:first-of-type a {
	
	background: transparent;
	color: #d2d2d2;

}

.nav1 li:first-of-type a:hover {

	background: transparent;
	text-decoration: none;

}

.left, .right {

	text-align: justify;
	color: white;
	background-color: #7CA6D0;
	padding-top: 15px;
	padding-bottom: 15px;

}

p{
	text-indent: 3em;
	font-weight: normal;
	color: white;
	padding: 14px 20px 10px 20px;
	font-size: 0.875em;	
}

img{
	margin:0 auto;
	padding:0px;
	text-align:center;
	max-width: 100%;
	display: block;
}


.footer {
	background-color: #2e83c4;
	font-size: 0.75em;
	color: #d4d4d4;
	padding:6px;

}
  


@media  all and (min-width: 768px ) and (orientation:landscape) {
	
	body{
		font-size: 16px;
	}

	
	header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin:0;
		padding: 0px;
		min-height: 80px;
	}
	
	
	h1{
		padding-left: 20px;
	}	

	.nav1 a {
		
		margin: 0px;
		padding:0px;
		padding-right: 12px;
		background-color: transparent;
		border: none;	
	}

	.nav1 a:hover{
		text-decoration: underline;
	}
	
	.nav1 li{
		
		display:inline-flex;	
		border: none;
		background-color: none;
	}


	.left, .right {
		text-align: justify;
		padding: 0px;
		padding-top: 30px;
		padding-bottom: 18px;
		text-indent: 8rem;
		flex-direction: row;
		flex-wrap:wrap;
		flex: 2 ;	
	}

		
}
  

