/* Mobile First */
body{
	color:#333333;
	background-color:#383535; 
	margin:0 auto;
	padding:0;
	font-family: "Roboto, Arial, Tahoma, Helvetica, Verdana", sans-serif;    
	font-size: 14px;
	font-weight: normal;
	line-height: 1.6em;	 
	text-align:center; 
	width: 96%;
}

.container{	
	display: flex;
	min-height: 300px;
	margin: 0 auto;
	display: -webkit-flex; /* Safari */		
	flex-direction: column;	
	justify-content: center; 	
}


.header{	
	background-image: linear-gradient( #8397a1, #75cdeb);
	width:100%;
}


.showcase{
	min-height:60px;
	background-image: linear-gradient(to right, #d4853a , #7cccf1);
	padding: 5px;	
}


.form-dropdown{
	-webkit-appearance: listbox !important;
}

form.myform {
	margin: 0px auto;
	font-size: 0.8rem;	
	padding: 5px;
	padding-top: 10px;
	width: 90%;
	text-align: center;
}

select{
	background-color: #6CA6CD;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #A4D3EE	;
	text-shadow:none;	
	height: 26px;
	padding: 2px;	
	font-weight: bold;

}

select#girlstar{	
	background-color: #9E0508; 
}

select#boystar{	
	background-color: #5B59BA; 
}

select#girlpaadam{	
	background-color: #9E0508; 	
}

select#boypaadam{
	background-color: #5B59BA; 
	text-align:right;
}

#fg{
	background-color:transparent; 
	color:#9E0508;
	text-align:left;
	justify-content:left;
	font-weight: "strong";
	display: inline-block;
	padding:10px;	
}

#fb{
	background-color:transparent; 
	color:#5B59BA;
	text-align:right;	
	justify-content:right;
	font-weight: "strong";
	display: inline-block;
	padding:10px;	
}

.navbar1 {
	padding: 0;
	list-style: none;
	margin: 0;
	background: #7cccf1;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	font-size: 0.8rem;
	
}

.navbar1 a {
text-align: center;
padding: 10px;
border-top: 1px solid rgba(255, 255, 255, 0.3);
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
text-decoration: none;
display: block;
color: black;
}

.navbar1 a:hover {
	background: #67C8FF;
	color:white;
}

.navbar1 li {
border: none;
}

input[type="button"]{
	background-color: #7cccf1;
	color: black;
	border:none;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 0.8rem;
	margin:0;
	padding: 14px 7px 7px 7px;
	display:block;
	z-index: 1;
	width: 100%;
}

input[type="button"]:hover {
	background: #67C8FF;
	color: white;	
	font-weight: bold;
	cursor: pointer;
}

.main{
	background-color:#e5e5e5;
}

.pattika{
	text-align: center;
	padding: 5px 10px 5px 10px;	
}

.vivarana{
	text-align: justify;
	padding: 5px 10px 5px 10px;		
}

.footer{
	color:white;
	background-image: linear-gradient( rgb(117, 205, 235), rgb(131, 151, 161));
	padding:2px 0px 2px 0px ;
	width:100%;
	font-size: 0.8rem;
}


@media  all and (min-width: 768px ) and (orientation:landscape) {
	/* This part is only read by viewports wider than 768 pixels */
	body{ 
		font-size: 16px;
		line-height: 1.6rem;	 
		margin:0 auto;
		padding:0;
	}
	
	.container{	
		display: flex;
	}

	.main{
		display: flex;
		flex: 2 0 0;
		background-color:#e5e5e5;
	}

	.pattika{
		flex: 1 0 0;
	}

	.vivarana{
		flex: 1 0 0 ;
		
	}

	.navbar1 {
		flex-flow: row ;
		justify-content: flex-end;
	}	
	
}


h1 {
	font-size: 1.4rem;
	font-weight: bold;
	/*text-shadow: 1px 1px #0b8aaa;*/
	padding: 8px;
	color:#0a50a0;
}

h2 {
	font-size: 1rem;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	color:#308bc4;
}

h3 {
	font-size: 1rem;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	color:#308bc4;
  
}

.minahaa {
	font-size: 0.9rem;
	margin: 0 0 0.75rem 0;
	color:rgb(26, 138, 69);
	font-weight: bold;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.style2 {
    height: 10px;
	border: 0;
	background-image: linear-gradient(to right, #d5d5d5, #bababa, #d5d5d5);
}

table {
	border-collapse: collapse; 
	margin:0 auto;
	width:96%;
	font-size: 0.8rem;
}	
  
th {
	background-color: #6CA6CD;
	color: white;
	padding: 2px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
  
td {
	padding: 1px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	
}
  
tr {
	color: black;
	background-color: white;
	padding: 2px;
	text-align: left;
}
  
tbody tr:nth-child(even) {
	background-color: #eee;
}
	  
table tr:hover {
	color:black;
	background-color: rgb(220, 245, 174);
	  
}

img{
	margin:0 auto;
	padding:0px;
	vertical-align: middle;
	text-align:center;
}

img :hover{
	background: none;
}
 
.nav2{
	padding: 0;
	list-style: none;
	margin: 0;
	background:none;
	display: inline;
	font-size: 0.8rem;
}

.nav2 a {
	text-align: center;
	padding: 0px 3px 0px 3px;
	text-decoration: none;
	color: gray;
}

.nav2 a:hover {
	background: #67C8FF;
	color:white;
}

.nav2 li {
	border: none;
	display:inline;
}

p.mytext{
	color:black;
	font-size:0.8rem;
	padding-left: 12px;
}

.myred{
	  color:red;
}

.mygreen{
	  color:green;
}
